<div>
    <span *ngIf="creatures">Speed: {{timescale}}</span>
    <span *ngIf="creatures">Population: {{creatures.length}}</span>
    <span>Population record: {{popMax}}</span>
    <span>Time passed: {{( frameCount / 60)| duration }}
    </span>
</div>

<div class="row">
        <div class="coll col-8">
            
<app-map [creatures]="creatures" [map]="map" (creatureSelected)="setCreature($event)"></app-map>
        </div>
    <div class="coll col-3" *ngIf="selectedCreature">
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" 
          [style.width.%]="100 / _config.maxCreatureSize * selectedCreature.size" 
          attr.aria-valuenow="{{100 / _config.maxCreatureSize * selectedCreature.size}}" aria-valuemin="0" aria-valuemax="100">Size</div>
        </div>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" 
          [style.width.%]="100 / _config.minReproduceTime * selectedCreature.reproduceTime" 
          attr.aria-valuenow="{{100 / _config.minReproduceTime * selectedCreature.reproduceTime}}" aria-valuemin="0" aria-valuemax="100">Reproduce Time</div>
        </div>
        
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" 
          [style.width.%]="100 / _config.reproduceAge * selectedCreature.age" 
          attr.aria-valuenow="{{100 / _config.reproduceAge * selectedCreature.age}}" aria-valuemin="0" aria-valuemax="100">Reproduce Age</div>
        </div>
        <div>Age: <span class="badge badge-secondary">{{selectedCreature.age}}</span></div>
        <div>Gen: <span class="badge badge-secondary">{{selectedCreature.generation}}</span></div>
    </div>
</div>